<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Mock">
      <file>tests/Mock.php</file>
    </testsuite>
    <testsuite name="Path">
      <file>tests/Path.php</file>
    </testsuite>
    <testsuite name="Rule">
      <file>tests/Rule.php</file>
    </testsuite>
  </testsuites>
  <filter>
  <whitelist processUncoveredFilesFromWhitelist="true">
    <directory suffix=".php">src</directory>
    <exclude>
    </exclude>
  </whitelist>
  </filter>
</phpunit>
