<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Mock">
      <file>tests/Mock.php</file>
    </testsuite>
    <testsuite name="Path">
      <file>tests/Path.php</file>
    </testsuite>
    <testsuite name="Rule">
      <file>tests/Rule.php</file>
    </testsuite>
    <testsuite name="Printing">
      <file>tests/Printing.php</file>
    </testsuite>
  </testsuites>
  <filter>
  <whitelist processUncoveredFilesFromWhitelist="true">
    <file>src/mimus/Double.php</file>
    <file>src/mimus/Exception.php</file>
    <file>src/mimus/Path.php</file>
    <file>src/mimus/Rule.php</file>
    <file>src/mimus/Type.php</file>
    <exclude>
    </exclude>
  </whitelist>
  </filter>
</phpunit>
